*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins;
    background-image: url('../images/Blvck\ MacBook\ Skin.jpeg');
    background-size: cover;
}
.hdz{
    font-family: serif;
    color: rgba(255, 255, 255, 0.244);
}

.landing{
   background-color: rgba(245, 222, 179, 0.366);
    background-size: cover;
    border-radius: 45px;
    height: 30vh;
}
.landing:hover{
    background-color: white;
}

strong{
    font-size: 20px;
    color: black;
}

.prof{
    color: white;
    font-weight: 800;
    font-size: 30px;
}

.thumbnail{
    text-decoration: none;
    font-family: Eczar;
    color: black;
}


.con1{
    border-radius: 45px;
    border: solid 2px white;
    background-color: rgba(245, 222, 179, 0.294);
}

