*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins;
    background-color: black;
}
.hdz{
    font-family: serif;
    color: white;
}

.landing{
    background-image: url('../images/Blvck\ MacBook\ Skin.jpeg');
    background-size: cover;
    height: 50vh;
}