{% extends 'base.html' %}
{% load bootstrap4%}
{% load mathfilters %}


{% block content %}

<div class="container con1">
  <h1  class="htwoz text-light text-center"><strong>{{details.title}}</strong></h1>
  <div class="row">
  

    <div class="col-md-6 mt-5">
      <div class="">
        <img src="{{details.image.url}}" class="img-fluid detailimage" alt="project display">
        
      <p class="text-light">Description: <strong>{{details.description}}</strong></p>
      <p class="text-light">Posted By: <strong>{{details.user}}</strong></p>
      <p class="text-light">Posted on: <strong> {{details.posted_date}}</strong></p>
     
      </Link></p> <a href="{{details.url}}" target="_blank"><strong> Link</strong></a>
      </div> 
      
    </div>
    
    <div class="col-md-5" id="rates">
      <form action="{%url 'submitrates' details.id %}" method="post" class="bg-info mt-5">
        {% csrf_token %}
        <h2 class="text-center">Add your ratings</h2>

        {% bootstrap_form form %}

        <div class="text-center">
          <input type="submit" class="btn btn-sm btn-danger" value="post rating">
        </div>
      </form>

    </div>

    <div class="mt-4 text-light">
      <h2 class="text-center">Ratings</h2>
  
      <div class="table-responsive mb-5 " id ="table">
        <table class="table text-center text-light ">
          <thead>
            <tr>
              <th scope="col">Voted By</th>
              <th scope="col">design score</th>
              <th scope="col">usability score</th>
              <th scope="col">content score</th>
              <th scope="col">Avg Score</th>
            </tr>
          </thead>
          {%for rate in rates%}
          <tbody>
            <tr>
              <td>{{rate.user}}</td>
              <td>{{rate.design}}</td>
              <td>{{rate.userbility}}</td>
              <td>{{rate.content}}</td>
              <td>{{ rate.design|add:rate.userbility|add:rate.content|div:3}}</td>
            </tr>
          </tbody>
          {%endfor%}
        </table>



        
      </div>
      
    </div>
  
  </div>
  </div>

</div>
</div>
    {% endblock%}