{% extends 'base.html' %}
{% load bootstrap4%}
{% load mathfilters %}


{% block content %}
<h1 style="text-align: center;" class="htwoz"><strong>{{details.title}}</strong></h1>
<div class="container">
  
  <div class="row">
  

    <div class="col-md-6 ">
      <div class="">
        <img src="{{details.image.url}}" class="img-fluid detailimage" alt="project display">
        
      <p class="text-light">Description: <strong>{{details.description}}</strong></p>
      <p class="text-light">Posted By: <strong>{{details.user}}</strong></p>
      <p class="text-light">Posted on: <strong> {{details.posted_date}}</strong></p>
     
      </Link></p> <a href="{{details.url}}" target="_blank"><strong> Link</strong></a>
      </div> 
      
    </div>
</div>
</div>
    {% endblock%}